/* univsersal selector */

/* * {
  color: red;
} */

/* type  selector*/

p {
  background-color: yellow;
}

/* type selector priority > universal selector */

/* class selector */

.custom {
  color: green;
}
/* univeral selector > class selector */

.spcl{
  color: brown;
}

.custom {
  color: green !important;
}

.spcl{
  color: brown;
}

.random{
  color:initial;
}