/* univsersal selector */

/* * {
  color: red;
} */

/* type  selector*/

/* p {
  background-color: yellow;
}

/* type selector priority > universal selector */

/* class selector */
/*
.custom {
  color: green;
}
/* univeral selector > class selector */

/* .spcl{
  color: brown;
} */

/* .custom {
  color: green !important;
}

.spcl{
  color: brown;
} */

/* .random{
  color:initial;
}   */

/* .custom {
  color: green;
}

#bg {
  background-color: lightblue;
}

p{
  color: blue;
} */

/*  element selector <  class selector */

/* comment  */

a{
  color: green;
}

/* Attritube selector */

a[href="insta"]{
  color:red;
}

