/* univsersal selector */

/* * {
  color: red;
} */

/* type  selector*/

/* p {
  background-color: yellow;
}

/* type selector priority > universal selector */

/* class selector */
/*
.custom {
  color: green;
}
/* univeral selector > class selector */

/* .spcl{
  color: brown;
} */

/* .custom {
  color: green !important;
}

.spcl{
  color: brown;
} */

/* .random{
  color:initial;
}   */

/* .custom {
  color: green;
}

#bg {
  background-color: lightblue;
}

p{
  color: blue;
} */

/*  element selector <  class selector */

/* comment  */

/* a{
  color: green;
} */

/* Attritube selector */

/* a[href="insta"]{
  color:red;
} */

/* div,
h1,
span,
em {
  color: aqua;
} */

/* child selector  */

/* span > p{
  color:red
} */

/* we can include class and id also */
/* div,
h1,
span,
em,.custom, #idName{
  color: rgb(109, 245, 24);
} */

/* li{
  color:red
} */
/* Desendent combinator */

li li{
  color:blue
}

/* adjacent sibling selector */

/* h1 + p {
  color: #5218f3;
}

ul + li {
  color: yellow;
  background-color: black;
}


/*  General sibling selector*/

/* h1~p{
  color:red
} */ 