body {
  height: 722px;
  border: 2px solid red;
}
div {
  height: 100px;
  width: 100px;
}
#first {
  background-color: crimson;
}
#second {
  background-color: rgb(48, 205, 53);
  float: right;
}
#third {
  background-color: rgb(56, 213, 213);
  clear: right;
  clear: both;
}
