.container {
  border: 2px solid red;
}
.container > div {
  border: 2px solid green;
  height: 200px;
  width: 200px;
  display: inline;
}

.container > span {
  display: block;
  background-color: lightcoral;
  border: 2px solid rgb(115, 27, 209);
}
